<div class="container">

    <h1>¡Logueate!</h1>

    <form action="/auth/login" method="post">

        <div class="mb-3"><label for="correo">Correo electrónico</label>
            <input type="text" name="correo" class="form-control">
        </div>


        <div class="mb-3"><label for="password">Contraseña</label>
            <input type="password" name="password" class="form-control">
        </div>



        <button class="btn btn-outline-primary">Accede</button>

        {{!-- {{#if errorMessage}}
        <br>
        {{errorMessage}}
        {{/if}} --}}

    </form>

</div>