<div id="main-home-container">


    <div id="home-text-container">
        <h1>
            <p id="home-title">
                <img
                    src="https://res.cloudinary.com/drwwdhhgc/image/upload/v1692354825/fotos-de-perfiles/g6mzoxedef7idb8mlatk.png">
            </p>
        </h1>
    </div>


</div>