<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Mi portal - la comunidad online para contactar con tus vecinos</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
  <nav class="container-active-menu">
    <div class="dropdown">
      <button class="btn-secondary-dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Menú
      </button>
      <ul class="dropdown-menu">
        {{#if isUserActive}}
        <li><a href="/" class="dropdown-item">Homepage</a></li>
        <li><a href="/usuario/perfil" class="dropdown-item">Mi perfil</a></li>
        <li><a href="/solicitud/crear" class="dropdown-item">Crear solicitud</a></li>
        <li><a href="/solicitud/catalogo/pendientes/todas" class="dropdown-item">Solicitudes pendientes</a></li>
        <li><a href="/solicitud/catalogo/completadas" class="dropdown-item">Solicitudes completadas</a></li>
        <li><a href="/usuario/catalogo" class="dropdown-item">Usuarios</a></li>
        {{else}}
        <li><a class="dropdown-item" href="/auth/registro">Registro</a></li>
        <li><a class="dropdown-item" href="/auth/login">Login</a></li>
        {{/if}}
      </ul>

      {{#if isUserActive}}
      <div id="logout-container">
        <p id="link-logout-p"><a href="/auth/logout" id="link-cerrar-sesion">Cerrar sesión</a></p>
      </div>
      {{/if}}
    </div>
  </nav>


  </div>


  <div class="container-fluid">
    {{{body}}}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>

  <script src="/js/script.js"></script>
</body>

</html>