<div>

<h4>Conversación</h4>

{{this.solicitudId}}

<form  action="/mensajeria/crear-mensaje" method="post">
{{!-- <label for="mensaje">Comenta algo</label> --}}
<input type="text" name="mensaje">
<input type="hidden" name="idSolicitud" value="{{this.solicitudId}}">
<input type="hidden" name="idUsuarioCreador" value="{{this.creadorId}}">
<input type="hidden" name="idUsuarioPrestante" value="{{this.prestanteId}}">

<button>Enviar mensaje</button>

</form>

</div>