<div class="container">

    <h4>Conversación</h4>

    <form action="/mensajeria/crear-mensaje" method="post">
        {{!-- <label for="mensaje">Comenta algo</label> --}}
        <div class="mb-3"><textarea class="form-control" name="mensaje" rows="15"></textarea></div>

        <input type="hidden" name="idSolicitud" value="{{this.solicitudId}}">
        <input type="hidden" name="idUsuarioCreador" value="{{this.creadorId}}">
        <input type="hidden" name="idUsuarioPrestante" value="{{this.prestanteId}}">

        <div class="row g-2">
            <div class="col-md">
                <button class="btn btn-outline-primary">Enviar mensaje</button>
            </div>

            <div class="col-md derecha">
                <a href="/usuario/perfil/mis-solicitudes-prestadas" class="btn btn-outline-secondary" tabindex="-1"
                    role="button" aria-disabled="true">Cancelar</a>
            </div>
        </div>

    </form>

</div>