<h1>Usuarios registrados en el web</h1>

{{#each this.todosUsuarios}}
  <div>
    <h3>{{this.nombreCompleto}}</h3>
    <img src="{{this.imagen}}" alt="" width="200px" />
    <p><a href="/usuario/{{this._id}}/detalles">Ver perfil completo</a></p>
    <hr />
  </div>
{{/each}}