<div>
  <h1>Interacciones de usuarios</h1>

  <h2>Usuarios favoritos</h2>

  {{#each this.dataUsuarios.favoritos}}
    <div>
      <h3>{{this.nombreCompleto}}</h3>
      <img src="{{this.imagen}}" alt="" width="200px" />
      <p><a href="/usuario/{{this._id}}/detalles">Ver perfil</a></p>
      <hr />
    </div>
  {{/each}}

</div>